<div class="customer col-md-4 panel panel-primary">
	<section class="product">
		<div class="panel-heading">
			<% if product.sale_price %>
				<p><span class="label label-success sale-icon">On Sale!</span></p>
			<% end %>
			<% if product.stock_quantity == 0 %>
				<p><span class="label label-primary sold-out-icon">SOLD OUT</span></p>
			<% end %>
			<h2><%= link_to product.name, store_product_path(product) %></h2>
		</div>

		<div class="panel-body">
			<% if product.image_file_name %>
				<p><%= image_tag product.image, :width => "200", :height => "200"  %></p>
			<% end %>

			<% if product.category %>
				<strong>Category:</strong> <%= product.category.title %>
			<% end %>

			<% if product.sale_price then %>
				<p><span class="salePrice"><%= number_to_currency product.sale_price %></span> <span class="oldPrice"><%= number_to_currency product.price %></span></p>
			<% else %>
				<p><%= number_to_currency product.price %></p>
			<% end %>
		</div>
	</section>
</div>