<!DOCTYPE html>
<html>
<head>
  <title>Wacky Games</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
  	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wacky Games and retro toys!</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'On Sale!', sale_path %></li>
                <!-- Temporary Hard Coded Links -->
                <li><a href="http://localhost:3000/page/1">About</a></li>
                <li><a href="http://localhost:3000/page/2">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Link to admin section -->
                <li><%= link_to 'Admin', admin_dashboard_path %></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <%= render 'search' %>
    

  <%= yield %>

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    
  </div>
</div><!--/span-->

    

  </div> 
</div> <!-- /container -->

</body>
</html>
